@media (min-width: 979px) {
    body {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    img {
        margin-top: -200px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #888;
}

.navbar-inner {
    background-color: #FFF;
    background-image: none;
}

.loader {
    background: #fff url('loader.gif') center center no-repeat;
    opacity: .9;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
}

.loader-restaurant {
    background: #fff url('loader.gif') center center no-repeat;
    opacity: .9;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
}

.table-container {
    position: relative;
    min-height: 200px;
}

body {
    font-family: 'Roboto Condensed', sans-serif !important;
    background-color: #FDFEFE;
}

.brand, h3{
    color: #0166B3 !important;
}

.brand {
    font-weight: bold !important;
}

h3 {
    font-weight: 300 !important;
}

thead tr {
    color: #2A7FC0;
}

.img-restaurants {
    margin-top: 15px;
    -webkit-filter: sepia();
}

.search-restaurants {
    margin-top: 15px;
    margin-bottom: 10px !important;
}

footer {
    opacity: .5;
}