!!! 5
html
  include header
div.page-header
  

    h1= data.title
form( method="post")
    div
        div
            span Title :
            input(type="text", name="title", id="editArticleTitle")
        div
            span Body :
            textarea( name="body", rows=20, id="editArticleBody)
        div#editArticleSubmit
            input(type="submit", value="Send")



div.footer
  p= "desenvolvido por afonso praça com express, jade, mongodb e node"