<!-- Restaurantes -->
<div>
  <input type="text" ng-model="search" class="search-query search-restaurants" placeholder="Buscar">
  <div class="table-container">
    <div class="loader-restaurant" ng-hide="restaurants.length"></div>
    <table class="table table-striped table-hover table-restaurants">
      <thead>
        <tr>
          <th>Nome</th>
          <th class="hidden-phone">Telefone</th>
          <th>Especialidade</th>
          <th class="hidden-phone">Endereço</th>
          <th>Bairro</th>
        </tr>
      </thead>
      <tbody >
        <tr ng-repeat="restaurant in restaurants | filter:search | orderBy:'name'">
          <td>{{restaurant.name}}</td>
          <td class="hidden-phone">{{restaurant.phone | ddd}}</td>
          <td>{{restaurant.expertise}}</td>
          <td class="hidden-phone">{{restaurant.location}}</td>
          <td>{{restaurant.neighborhood}}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>