!!! 5
html
  include header
.page-header
  h1= data.title
#articles
    - each article in data.articles
      div.well
        div.title
          h4= article.title
        div.body= article.body
div.footer
  p= "desenvolvido por afonso praça com express, jade, mongodb e node"